<p class="h3"> <%= email.object%></p>

<%= email.body %></b><br>

<button type="button" class="btn btn-primary">Edit</button>

<%= link_to "Delete", emails_path(email.id), class: "btn btn-danger", remote: true, method: :delete%>
